*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background: black

.playBoutton{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  position:relative;
  z-index: 1000;
  width : 15%;
  height:15%;
  background:  linear-gradient(rgb(000, 000, 000), rgb(255, 255, 240));
  cursor:pointer;
}
.playBoutton p{
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  color:white;
}

.lvlBoutton_1{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  left : 15px
  position:relative;
  z-index: 1000;
  width : 15%;
  height:15%;
  background: linear-gradient(rgb(000, 000, 000), rgb(255, 255, 240));
  border : 5px solid white
  cursor:pointer;
}
.lvlBoutton_1 p{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  color:white;
}

.lvlBoutton_2{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  left : 15px
  position:relative;
  z-index: 1000;
  width : 15%;
  height:15%;
  background: linear-gradient(rgb(000, 000, 000), rgb(255, 255, 240));
  cursor:pointer;
}
.lvlBoutton_2 p{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  color:white;
}

.lvlBoutton_3{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  left : 15px
  position:relative;
  z-index: 1000;
  width : 15%;
  height:15%;
  background: linear-gradient(rgb(000, 000, 000), rgb(255, 255, 240));
  cursor:pointer;
}
.lvlBoutton_3 p{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  color:white;
}

.lvlBoutton_4{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  left : 15px
  position:relative;
  z-index: 1000;
  width : 15%;
  height:15%;
  background:linear-gradient(rgb(000, 000, 000), rgb(255, 255, 240));
  cursor:pointer;
}
.lvlBoutton_4 p{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  color:white;
}



canvas
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index: 500